#!/bin/bash
# this must be done in postdeploy so that nginx config doesn't get overwritten by Elastic Beanstalk

# ---- Configuration ----
export contact="contact@domain.com"
export bucket="ssl-certificates-{account}"
export test_mode=false
export environment=$(/opt/elasticbeanstalk/bin/get-config environment -k ENVIRONMENT)

if [ "$environment" = "test" ]; then
        domain="test.example.com"
elif [ "$environment" = "staging" ]; then
        domain="example.com,staging.example.com"
else
        domain="example.com,staging.example.com"
fi
# -----------------------

curl -L -o /tmp/lets-encrypt.sh https://raw.githubusercontent.com/gearbox-solutions/eb-lets-encrypt-script/main/lets-encrypt.sh

chmod +x /tmp/lets-encrypt.sh

/tmp/./lets-encrypt.sh
